# Features to install
features=O Series,Apache Tomcat,Transaction Processing System Database,Util Database,GIS Database,Journal Database,Reporting Database,Retail Tax Extract Database,Batch Client Interface Database

# Installation directory
install.dir={{ vertex_root }}

# Apache Tomcat settings
java.home={{ jdk_install_dir }}{{ jdk_pkg}}
http.port=8095
http.port.enabled=true
https.port=8443
https.port.enabled=false
shutdown.port=8096
startup.memory=2048
maximum.memory=4096
service.name=
install.service=false

# O Series passwords
admin.password=vertex
sysadmin.password=vertex

# Transaction Processing System database settings
db.tps.driver=org.postgresql.Driver
db.tps.url=jdbc:postgresql://localhost:5432/oseries
db.tps.username=oseries
db.tps.password=oseries
db.tps.schema=oseries

# Util database settings
db.util.driver=org.postgresql.Driver
db.util.url=jdbc:postgresql://localhost:5432/oseries
db.util.username=oseries	
db.util.username=oseries
db.util.password=oseries
db.util.schema=oseries

# GIS database settings
db.gis.driver=org.postgresql.Driver
db.gis.url=jdbc:postgresql://localhost:5432/oseries
db.gis.username=oseries
db.gis.password=oseries
db.gis.schema=oseries

# Journal database settings
db.journal.driver=org.postgresql.Driver
db.journal.url=jdbc:postgresql://localhost:5432/oseries
db.journal.username=oseries
db.journal.password=oseries
db.journal.schema=oseries

# Reporting database settings
db.rpt.driver=org.postgresql.Driver
db.rpt.url=jdbc:postgresql://localhost:5432/oseries
db.rpt.username=oseries
db.rpt.password=oseries
db.rpt.schema=oseries
db.rpt.enable.compression=false

# Retail Tax Extract database settings
db.rte.driver=org.postgresql.Driver
db.rte.url=jdbc:postgresql://localhost:5432/oseries
db.rte.username=oseries
db.rte.password=oseries
db.rte.schema=oseries

# Batch Client Interface database settings
db.bci.driver=org.postgresql.Driver
db.bci.url=jdbc:postgresql://localhost:5432/oseries
db.bci.username=oseries
db.bci.password=oseries
db.bci.schema=oseries

# Batch Client Interface settings
bci.transaction.table.name=TransactionLog
bci.control.table.name=TransactionControl
bci.user.name=sysadmin
bci.password=vertex
bci.user.name=oseries
bci.password=oseries
bci.trusted.id=
bci.threads=2

# License file
license.file=
