# Features to install
features=O Series,Apache Tomcat,Transaction Processing System Database,Util Database,GIS Database,Journal Database,Reporting Database,Retail Tax Extract Database,Batch Client Interface Database

# Installation directory
install.dir=C:/vertex/oseries

# Apache Tomcat settings
java.home=C:/DeploymentUnit/java/jdk1.8.0_202/jre
http.port=8095
http.port.enabled=true
https.port=8443
https.port.enabled=false
shutdown.port=8096
startup.memory=2048
maximum.memory=6144
service.name=vertex90
install.service=true

# O Series passwords
admin.password=vertex
sysadmin.password=vertex

## Transaction Processing System database settings
db.tps.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
db.tps.url=jdbc:sqlserver://localhost:1433;databaseName=oseries
db.tps.username=oseries
db.tps.password=oseries
db.tps.schema=dbo

# Util database settings
db.util.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
db.util.url=jdbc:sqlserver://localhost:1433;databaseName=oseries
db.util.username=oseries
db.util.password=oseries
db.util.schema=dbo

# GIS database settings
db.gis.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
db.gis.url=jdbc:sqlserver://localhost:1433;databaseName=oseries
db.gis.username=oseries
db.gis.password=oseries
db.gis.schema=dbo

# Journal database settings
db.journal.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
db.journal.url=jdbc:sqlserver://localhost:1433;databaseName=oseries
db.journal.username=oseries
db.journal.password=oseries
db.journal.schema=dbo

# Reporting database settings
db.rpt.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
db.rpt.url=jdbc:sqlserver://localhost:1433;databaseName=oseries
db.rpt.username=oseries
db.rpt.password=oseries
db.rpt.schema=dbo
db.rpt.enable.compression=false

# Retail Tax Extract database settings
db.rte.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
db.rte.url=jdbc:sqlserver://localhost:1433;databaseName=oseries
db.rte.username=oseries
db.rte.password=oseries
db.rte.schema=dbo

# Batch Client Interface database settings
db.bci.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
db.bci.url=jdbc:sqlserver://localhost:1433;databaseName=oseries
db.bci.username=oseries
db.bci.password=oseries
db.bci.schema=dbo

# Batch Client Interface settings
bci.transaction.table.name=TransactionLog
bci.control.table.name=TransactionControl
bci.user.name=sysadmin
bci.password=vertex
bci.trusted.id=
bci.threads=2

# License file
license.file=
