<list>
  <com.cloudbees.plugins.credentials.domains.DomainCredentials plugin="credentials@2.3.14">
    <domain>
      <specifications/>
    </domain>
    <credentials>
      <com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
        <scope>GLOBAL</scope>
        <id>vsphere</id>
        <description></description>
        <username>vm.busowner@vertexinc.com</username>
        <password>{{ vsphere_password }}</password>
      </com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
    </credentials>
  </com.cloudbees.plugins.credentials.domains.DomainCredentials>
</list>
